@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

// font-family: 'Hind', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Teko', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1380px;
    padding: 60px 10px 60px 10px;
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 900;
    color: #222;
    text-align: center;
}

.sub_title{
    width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

header{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/headerBg.jpg);
    background-size: cover;
    background-position: center;
    .navigation{
        width: 100%;
        height: 100px;
        display: grid;
        grid-template-columns: 3fr 4fr;
        .logo{
            display: flex;
            justify-content: space-around;
            align-items: center;
            img{
                width: 70px;
                height: 70px;
            }
        }
        nav{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0 30px;
            font-weight: 900;
            font-family: 'Lato', sans-serif;
            a{
                color: #666;
                text-decoration: none;
                transition: .2s color;
                &:hover{
                    color: #10C9C3;
                }
            }
        }
    }
    .header_conteiner{
        height: calc(100vh - 100px);
        width: 100%;
        padding-top: 5%;
        .header_content{
            margin-left: auto;
            padding-right: 100px;
            padding-bottom: 100px;
            padding-left: 20px;
            width: 50%;
            .header__title{
                height: 25%;
                width: 100%;
                font-family: 'Teko', sans-serif;
                font-size: 40px;
                letter-spacing: 1px;
                font-weight: 900;
                color: #333;
            }
            .header__sub_title{
                height: 50%;
                width: 100%;
                font-family: 'Lato', sans-serif;
                font-size: 30px;
                color: #333;
            }
            .header__contact_btn_container{
                height: 25%;
                width: 100%;
                display: flex;
                align-items: center;
                padding-top: 30px;
                .header__contact_btn{
                    width: 180px;
                    height: 70px;
                    background-color: #10C9C3;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 900;
                    transition: .2s;
                    cursor: pointer;
                    &:hover{
                        background-color: #26b4b0;
                    }
                }
            }
        }
    }
}

.about__us{
    #painting{
        margin-left: calc(50% - 130px);
        width: 260px;
        margin-top: 30px;
    }
}

.professional_skills{
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .professional_skills__content{
        background-color: #F9F9F9;
        height: 100%;
        padding: 100px 0 0 100px;
        .professional_skills__title_conteiner{
            .professional_skills__title{
                font-family: 'Teko', sans-serif;
                font-size: 60px;
                letter-spacing: 1px;
                font-weight: 900;
                color: #333;
            }
        }
        .professional_skills__per_container{
            width: 100%;
            padding: 10px 0 10px 0;
            .professional_skills__per_content{
                width: 100%;
                padding: 10px 0 10px 0;
                color: #222;
                .professional_skills__per_content__text{
                    font-size: 25px;
                    letter-spacing: .8px;
                    font-weight: bold;
                }
                .professional_skills__per_content__text__per{
                    padding-left: 30px;
                }
                .professional_skills__per_content__pers_container{
                    padding: 20px 0 10px 0;
                    .professional_skills__per_content__pers{
                        background-color: #4EAFAF;
                        height: 3px;
                        width: 100%;
                    }
                }
            }
        }
    }
    .professional_skills__bg_img{
        background-image: url(images/c1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
    }
}

.statitic{
    background-color: #10C9C3;
    width: 100%;
    height: 35vh;
    color: #fff;
    font-family: 'Hind', sans-serif;
    .container{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .statitic_content{
            display: grid;
            grid-template-columns: 1fr 5fr;
            height: min-content;
            margin-top: 6vh;
            .statitic__img_container{
                padding: 0 5px 0 0;
            }
            .statitic__info{
                .statitic__num{
                    font-size: 30px;
                    line-height: 1;
                }
                .statitic_title{
                    font-size: 20px;
                }
            }
        }
    }
}

.merch{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .merch_img{
        width: 25%;
        height: 50%;
        background-size: cover;
        background-position: center;
        .merch_img__hover{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: #111;
            &:hover{
                opacity: .8;
            }
            img{
                filter: invert(1)
            }
        }
    }
}